

  <button (click)="createUrl()">Create New URL</button>
  <button (click)="deleteUrl()">Delete URL</button>
<!--  <button (click)="connect()">Connect</button>-->
  <button (click)="sendUrl()">Send URL</button>
  <button (click)="disconnect()">Disconnect</button>
  <!--<button (click)="message()">Send Message</button>
  <button (click)="pause()">Pause</button>
  <button (click)="resume()">Resume</button>-->

  <div *ngIf="clientUrl">
    <div [innerHTML]="getFullUrl(clientUrl)"></div>
    <a href="{{fullUrlPath}}" target="_blank">Click for testing</a>
  </div>

  <div>
    <video width="500" height="500"></video>
  </div>>


