<header class="header-6">
  <div class="branding">
    <a href="" class="nav-link">
      <span class="title">AR</span>
    </a>
  </div>
  <div class="header-nav">
    <a *ngFor="let n of nav; let i = index"
       [routerLink]="n.path"
       class="nav-link"
       [ngClass]="{'active': currentRouter === n.path}">
      <span class="nav-text">{{n.name}}</span>
    </a>
  </div>

  <div class="header-actions header-actions--overflow">
    <div class="dropdown bottom-left">
      <button class="nav-text dropdown-toggle">
        <span class="userActionShape" [innerHTML]="getUser(user)"></span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
    </div>
  </div>
</header>
