<header class="header-6">
  <div class="branding">
    <a href="" class="nav-link">
      <span class="title">AR</span>
    </a>
  </div>
  <div class="header-nav">
    <a *ngFor="let n of nav; let i = index"
       [routerLink]="n.path"
       class="nav-link"
       [ngClass]="{'active': currentRouter === n.path}">
      <span class="nav-text">{{n.name}}</span>
    </a>
  </div>

  <div class="header-actions header-actions--overflow">
    <div class="dropdown bottom-left">
      <button class="nav-text dropdown-toggle">
        <span class="userActionShape" [innerHTML]="getUser(user)"></span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
    </div>
  </div>
</header>

<!--<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
      <a class="nav-link nav-icon"><clr-icon shape="home"></clr-icon> Home</a>
      <a class="nav-link"><clr-icon shape="cog"></clr-icon> Settings</a>
      <a class="nav-link active"><clr-icon shape="user"></clr-icon> Users</a>
      <a class="nav-link"><clr-icon shape="Folder-open"></clr-icon> Files</a>
      <a class="nav-link"><clr-icon shape="Cloud"></clr-icon> Data</a>
      <a class="nav-link"><clr-icon shape="image-gallery"></clr-icon> Photos</a>
      <a class="nav-link"><clr-icon shape="video-gallery"></clr-icon> Videos</a>

      <a *ngFor="let n of nav; let i = index"
         [routerLink]="n.path"
         class="nav-link nav-icon"
         [ngClass]="{'active': currentRouter === n.path}">
        <clr-icon shape="home"></clr-icon>
        <span class="nav-text"> {{n.name}}</span>
      </a>
    </section>
  </nav>
</div>-->
